<div class="main-content flex justify-center " >
    <div class="about fade-in">
        <h1>Frontend developer with a passion for technology and design.</h1>
        <p>During my education, I have gained a solid understanding of frontend development principles and tools. I have also had the opportunity to work on creating and improving design profiles for various projects.</p>
        <p>I am an enthusiastic and ambitious individual who is always open to new challenges and enjoys managing multiple projects simultaneously. I strive to learn the latest trends and technologies as it is important to me to evolve over time.</p>
        <p>With my passion for technology and design, along with my willingness to learn and grow, I look forward to contributing to innovative and successful web development projects.</p>
    </div>
</div>