<div class="content flex items-center justify-center flex-col">
    <div class="interest-row">
        <div class="interest-left animated-left">
            <div class="text">
                <p>
                    Colleague-Care is an application built with Angular, designed to foster a better work environment by simplifying the management of office chores and events. With Colleague-Care, you can easily set up chores that need to be done around the workspace and create a schedule where every person in the office gets a turn for each chore.
                </p>
            </div>
            <a href="https://example.com" target="_blank">
                <img src="/assets/cc.png" alt="cc">
            </a>
        </div>
        <div class="interest-right animated-right">
            <div class="text text-right">
                <p>
                    Project is under way.
                </p>
            </div>
            <div class="placeholder">
                <p>To Be Added</p>
            </div>
        </div>
    </div>
    <div class="interest-row">
        <div class="interest-left animated-left">
            <div class="text">
                <p>Project is under way.</p>
            </div>
            <div class="placeholder">
                <p>To Be Added</p>
            </div>
        </div>
        <div class="interest-right animated-right">
            <div class="text text-right">
                <p>Project is under way.</p>
            </div>
            <div class="placeholder">
                <p>To Be Added</p>
            </div>
        </div>
    </div>
</div>