<div class="side-menu">
    <div class="header text-center text-4xl font-bold">
      <h1>Elias Linderos</h1>
    </div>
    <div class="profile-picture">
    </div>
 <div class="menu-buttons">
  <button (click)="navigateToAbout()">About</button>
  <button (click)="navigateToSkills()">Skills</button>
    <button (click)="navigateToEducation()">Education</button>
    <button (click)="navigateToPortfolio()">Portfolio</button>
    <button (click)="navigateToInterests()">Interests</button>
    <button (click)="navigateToContact()">Contact</button>
 </div>
    <div class="contact-icons">
      <a class="github" href="https://github.com/Woolymoth"><img src="https://static-00.iconduck.com/assets.00/github-icon-512x500-vnqpw57x.png" alt="Icon 1"></a>
      <a class="linkedIn" href="https://www.linkedin.com/in/elias-linderos/"><img src="https://static-00.iconduck.com/assets.00/linkedin-with-circle-icon-512x512-cvyrro5n.png" alt="Icon 2"></a>
    </div>
  </div>