.side-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    background-color: #04122F;
    padding: 20px;
    box-sizing: border-box;
  }
  .contact-icons{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
  a{
    width: 50px;
    height: 50px;
    background: radial-gradient(circle at center, aliceblue 68%, transparent 25%);
    border-radius: 30px;
  }
  
  .header {
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
    color:white
  }
  
  .menu-buttons {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
  }
  
  .contact-icons a {
    display: inline-block;
    margin-right: 10px;
  }
  .profile-picture{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(me.jpg);
    height: 200px;
    width: 200px;
    border: solid 5px white;
    border-radius: 100px;
    margin-left: 25px;
    margin-top: 50px;
    margin-bottom: 35px;
    background-position: center;
    background-size: cover;
  }
  button{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: x-large;
  }
  