<div class="side-menu">
    <div class="header">Elias Linderos</div>
    <div class="profile-picture">
      <!-- Add profile picture here -->
    </div>
 <div class="menu-buttons">
  <button (click)="navigateToAbout()">About</button>
  <button (click)="navigateToSkills()">Skills</button>
    <button (click)="navigateToEducation()">Education</button>
    <button (click)="navigateToPortfolio()">Portfolio</button>
    <button (click)="navigateToInterests()">Interests</button>
    <button (click)="navigateToContact()">Contact</button>
 </div>
    <div class="contact-icons">
      <a href="https://example.com"><img src="path/to/icon1.png" alt="Icon 1"></a>
      <a href="https://example.com"><img src="path/to/icon2.png" alt="Icon 2"></a>
    </div>
  </div>