<div class="main-content flex justify-center">
    <div class="welcome-message fade-in" style="background-image: url('../../../assets/build.svg'); background-size: 300px; background-position: left; background-repeat: no-repeat;">
        <h1>Welcome to My Portfolio</h1>
        <p>
            Thank you for visiting! This webpage has been built using Angular for the frontend, 
            and it utilizes server-side rendering (SSR) for improved performance and SEO.
        </p>
        <p>
            The following tools and resources have been used to build this webpage:
        </p>
        <ul>
            <li><span class="tool-name">Angular</span> - A platform for building mobile and desktop web applications.</li>
            <li><span class="tool-name">Angular Universal</span> - Provides server-side rendering for Angular applications.</li>
            <li><span class="tool-name">Express</span> - A minimal and flexible Node.js web application framework.</li>
            <li><span class="tool-name">Tailwind CSS</span> - A utility-first CSS framework for building custom designs.</li>
            <li><span class="tool-name">RxJS</span> - A library for reactive programming using Observables.</li>
            <li><span class="tool-name">unDraw</span> - A collection of open-source illustrations for various design projects.</li>
            <li><span class="tool-name">Pexels</span> - A free stock photo and video website for finding high-quality images and videos.</li>
        </ul>    
    </div>
</div>
