.fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.welcome-message {
    text-align: center;
    margin: 20px;
}

.welcome-message h1 {
    font-size: xx-large;
    font-weight: 700;
    color: #333;
    margin: 20px;
}

.welcome-message p {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    color: #666;
}
.welcome-message ul li{
    margin: 20px;
    font-weight: bold;
}
.tool-name {
    text-decoration: underline;
}