@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background-image: url(assets/background.jpg);
    background-position: center;
}
.center{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.main-content {
    margin-left: 300px; 
    display: flex;
    justify-content: center;
    padding: 20px; 
    box-sizing: border-box; 
    border: solid 1px #ACACAC;
    height: 600px;
    background-color: white;
  }