.contact-cards {
    display: flex;
    justify-content: space-between;
}

.contact-card {
    width: calc(400px); 
    padding: 20px;
    border-right: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(240,248,255,0.4);
}

.contact-card-linkedin {
    width: calc(400px); 
    padding: 20px;
    border-left: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(240,248,255,0.4);

}

.contact-card h2 {
    font-size: xx-large;
    margin-top: 0;
    margin-bottom: 10px;
}
.contact-card-linkedin h2 {
    margin-top: 0;
    margin-bottom: 10px;
}
.contact-card-linkedin img{
    height: 50px;
}

.contact-card p {
    margin: 0;
}

.contact-card img {
    width: 100px;
    height: auto;
}
.animated-left {
    opacity: 0;
    transform: translateX(-50px);
    animation: slideInLeft 0.5s ease forwards;
}

.animated-right {
    opacity: 0;
    transform: translateX(50px);
    animation: slideInRight 0.5s ease forwards;
}
@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@media screen and (max-width: 768px) {
    .contact-cards {
      flex-direction: column; /* Display cards in a single column on smaller screens */
      align-items: center; /* Center align cards vertically */
    }
  
    .contact-card,
    .contact-card-linkedin {
      width: 100%; /* Set width to full for smaller screens */
      border: none; /* Remove borders */
      margin-bottom: 20px; /* Add margin between cards */
    }
  
    .contact-card {
      border-bottom: 1px solid #ccc; /* Add bottom border to differentiate cards */
    }
  }