<div class="main-content flex justify-center" style="background-image: url('../../../assets/contact.svg'); background-repeat: no-repeat; background-position: right;">
    <div class="contact-cards">
        <div class="contact-card animated-left">
            <h2>Contact Information</h2>
            <p><strong>Phone:</strong> +46720101371</p>
            <p><strong>Email:</strong> elias.linderos&#64;live.se</p>
        </div>
        <div class="contact-card-linkedin animated-right">
            <a href="https://www.linkedin.com/in/elias-linderos/">
                <img src="https://upload.wikimedia.org/wikipedia/commons/0/01/LinkedIn_Logo.svg" alt="LinkedIn">
            </a>
        </div>
    </div>
</div>
