<div class="main-content flex items-center justify-center flex-col ">
    <div class="interest-row">
        <div class="interest-left animated-left">
            <div class="text">
                <p>
                    I am passionate about the art of miniature painting, where I find joy in working with shapes, colors, and bringing characters and worlds to life. My primary focus is on Warhammer miniatures, drawn to their rich lore and captivating designs. This hobby not only fuels my creativity but also complements my skills as a front-end developer, engaging my senses and fostering attention to detail.</p>
            </div>
            <img src="/assets/mini.jpg">
        </div>
        <div class="interest-right animated-right">
            <div class="text">
                <p>During my free time, I enjoy gaming, primarily on PC. My favorite genre is action RPGs, with titles like The Elder Scrolls series holding a special place in my heart. I also have a deep appreciation for FromSoftware's Souls games, especially Elden Ring. In multiplayer, I'm a fan of MOBAs, though I find enjoyment in a wide range of games.</p>
            </div>
            <img  src="/assets/gaming.jpg">
        </div>
    </div>
    <div class="interest-row">
        <div class="interest-left animated-left">
            <div class="text">
                <p>I have a deep appreciation for nature and enjoy spending time outdoors, whether it's taking short strolls with my dogs or embarking on longer hikes. While I spend most of my time indoors, I consider myself an outdoor enthusiast at heart.</p>
            </div>
            <img  src="/assets/water.jpg">
        </div>
        <div class="interest-right animated-right">
            <div class="text">
                <p>
                    I have a profound passion for music. Not only do I play several instruments, but I am also deeply fascinated by analyzing certain pieces that resonate with me. I listen to many genres, but my favorite is prog metal due to its ability to evoke a wide range of emotions.</p>
            </div>
            <img  src="/assets/music.jpg">
        </div>
    </div>
</div>